# Database
DATABASE_URL="AQUI_VA_TU_URL_DE_DATABASE_POSTGRESQL"

# Telegram Bot
TELEGRAM_BOT_TOKEN="AQUI_VA_EL_TOKEN_DE_TU_BOT_DE_TELEGRAM"

# Google Calendar API (Obtén esto siguiendo la sección 4 de GUIDE.md)
GOOGLE_CALENDAR_ID="AQUI_VA_TU_ID_DE_CALENDARIO_GOOGLE"
GOOGLE_SERVICE_ACCOUNT_EMAIL="AQUI_VA_EL_CORREO_DE_TU_CUENTA_DE_SERVICIO"
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nAQUI_PONES_TODA_TU_CLAVE_PRIVADA_JSON\n-----END PRIVATE KEY-----\n"

# Web App
NEXT_PUBLIC_API_URL="http://localhost:3001"
